.parts{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 column-gap: 20px;
 row-gap: 20px;
}

@media screen and (max-width: 992px) {
    .parts{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 668px) {
    .parts{
        grid-template-columns: 1fr;
    }
}